{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Користувач</th>
            <th>Дозволи</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user }}</td>
            <td>
                {% for permission in user.user_permissions %}
                    {{ permission }}|
                {% endfor %}
            </td>
            <td>
                <a href="{{ url 'edit_user' user_id=user.id }}" class="btn btn-primary">Редагувати</a>
                <a href="{{ url 'edit_user' user_id=user.id }}" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}